{erl_opts, [debug_info]}.

{relx, [
  {release, { tictactoerl, "0.1.0" },
         %% list of apps to include
         [tictactoerl]},

         %% Don't ship an Erlang VM by default
         {include_erts, false},
         
         {vm_args, "./config/vm.args"}
]}.

{profiles, [
  {test, [
    {deps, [
      {meck, "0.8.2"}
    ]}
  ]},
  %% called as `rebar3 as prod <command>`
  {prod, [
    {relx, [ % override relx specifically
      {dev_mode, false},
      {include_src, false}, % don't include source code
      {include_erts, true}  % include the VM in the release
    ]}
  ]}
]}.
